GraphSAGE/

GraphAttention/*.npy
GraphAttention/*.npz
GraphAttention/*.log
GraphAttention/*.out
GraphAttention/*.csv
GraphAttention/*.png
GraphAttention/*.pt
GraphAttention/*.dump
GraphAttention/training_labels/
GraphAttention/labels
GraphAttention/inference.py
GraphAttention/plots
GraphAttention/__pycache__/

GraphConvolutions/*.npy
GraphConvolutions/*.npz
GraphConvolutions/*.log
GraphConvolutions/*.out
GraphConvolutions/*.csv
GraphConvolutions/*.pt
GraphConvolutions/*.png
GraphConvolutions/*.dump
GraphConvolutions/training_labels/
GraphConvolutions/labels/
GraphConvolutions/plots
GraphConvolutions/__pycache__/
